# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/
.venv/
venv/
ENV/

# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ephemeral/
node_modules/

# IDE / OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Environment & Temp / RAM Disk
.env
*.db
*.sqlite3
*.log
tmp/
ramdisk/
scratch/

